 The Python Programming Language: Dates and Times

In [1]:
import datetime as dt
import time as tm

In [2]:
tm.time()

1704705994.3651109

In [6]:
now = dt.datetime.fromtimestamp(tm.time())
now

datetime.datetime(2024, 1, 8, 13, 28, 35, 994897)

In [8]:
today = dt.date.today()
today

datetime.date(2024, 1, 8)

The Python Programming Language: Objects and map()

example of class in python

In [10]:
class Person:
    def set_name(self, NameOfStudent):
        self.name = NameOfStudent
    def set_age(self, AgeOfStudent):
        self.age = AgeOfStudent

In [11]:
student = Person()
student.set_name("Muan Safrar")
student.set_age(24)
print('{} is a student, she is {}'.format(student.name, student.age))

Muan Safrar is a student, she is 24

In [16]:
class Person:
    def name1(self, NameOfStudent):
        self.name = NameOfStudent
    def age1(self, AgeOfStudent):
        self.age = AgeOfStudent

In [17]:
student = Person()
student.name1("Muan Safrar")
student.age1(24)
print('{} is a student, she is {}'.format(student.name, student.age))

Muan Safrar is a student, she is 24

The Python Programming Language: Lambda and List Comprehensions

In [18]:
square=[]
for i in range(5):
    square.append(i ** 2)
print(square)

[0, 1, 4, 9, 16]

In [19]:
square_comprehension = [i ** 2 for i in range(5)]
square_comprehension

[0, 1, 4, 9, 16]

In [20]:
add_three = lambda a: a+3
print(add_three(5))

8