The prython pro. lang.

In [1]:
x=1
y=2
x+y

3

In [2]:
y

2

In [4]:
def add_num(x, y):
    return x+y
add_num(3,2)

5

In [9]:
def add_num(x, y, z=None):
    if z==None:
        return x+y
    else:
        return x+y+z
print(add_num(3,2))
print(add_num(3, 5, 7))

5
15

python types and sequences

In [10]:
x = (1, 'a', 2, 'c')
x

(1, 'a', 2, 'c')

In [11]:
type(x)

tuple

In [12]:
y = [1, 'a', 2, 'c']
y

[1, 'a', 2, 'c']

In [13]:
type(y)

list

In [16]:
y.append(3)
print(y)

[1, 'a', 2, 'c', 3]

In [17]:
for i in y:
    print(i)

1
a
2
c
3

In [21]:
i = 0
while (i != len(x)):
    print(x[i])
    i = i +1

1
a
2
c

In [23]:
first_name = "Muna"
last_name = "Safrar"

full_name = first_name+ " " + last_name
print(full_name)
print(first_name*3)
print('Muna' in first_name)

Muna Safrar
MunaMunaMuna
True

`split` returns a list of all the words in a string, or a list split on a specific character.

In [27]:
first_name = "Muna Mohammed Said Safrar".split(" ")[0]
last_name = "Muna Mohammed Said Safrar".split(" ")[-1]
print(first_name)
print(last_name)

Muna
Safrar

In [29]:
'Muna' +19

TypeError: can only concatenate str (not "int") to str

In [30]:
'Muna' + str(19)

'Muna19'

In [31]:
x = {'muna mohammed': 'muna@outlook.com', 'muna safrar': 'mun524@gamil.com'}
x['muna mohammed'] # return the value of the key

'muna@outlook.com'

In [33]:
for name in x:
    print(x[name])    # iterate over the keys

muna@outlook.com
mun524@gamil.com

In [40]:
for email in x.values():
    print(email)      # iterate over the values

muna@outlook.com
mun524@gamil.com

Note the differences between the above 2 cells

<br>
Iterate over all of the items in the list:

In [41]:
for name, email in x.items():
    print(name, email)

muna mohammed muna@outlook.com
muna safrar mun524@gamil.com

The Python Programming Language: More on Strings

In [ ]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

In [44]:
student = {
    "name": "Muna",
    "major": "Computer Science",
    "years": 4,
    "finish": 2023
}

bio = " {} study {} for almost {} she graduated in {}"
print(bio.format(student['name'], student["major"], student["years"], student["finish"]))

 Muna study Computer Science for almost 4 she graduated in 2023

Reading and Writing CSV files

<br>
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [50]:
import csv

%precision 2

with open(r'C:\Users\munam\Downloads\COURSERA\1.5 Introduction to Data Science in Python\resources\datasets\mpg.csv') as csvfile:
    data = list(csv.DictReader(csvfile))
    
data[:3] # The first three dictionaries in our list.

#C:\Users\munam\Downloads\COURSERA\1.5 Introduction to Data Science in Python\resources\datasets\mpg.csv

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [52]:
import pandas as pd

In [53]:
df = pd.DataFrame(data)    #### convert ditionary/list to df

In [54]:
df.head()

     manufacturer model displ  year cyl       trans drv cty hwy fl    class
0  1         audi    a4   1.8  1999   4    auto(l5)   f  18  29  p  compact
1  2         audi    a4   1.8  1999   4  manual(m5)   f  21  29  p  compact
2  3         audi    a4     2  2008   4  manual(m6)   f  20  31  p  compact
3  4         audi    a4     2  2008   4    auto(av)   f  21  30  p  compact
4  5         audi    a4   2.8  1999   6    auto(l5)   f  16  26  p  compact

In [55]:
df.shape

(234, 12)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0                 234 non-null    object
 1   manufacturer  234 non-null    object
 2   model         234 non-null    object
 3   displ         234 non-null    object
 4   year          234 non-null    object
 5   cyl           234 non-null    object
 6   trans         234 non-null    object
 7   drv           234 non-null    object
 8   cty           234 non-null    object
 9   hwy           234 non-null    object
 10  fl            234 non-null    object
 11  class         234 non-null    object
dtypes: object(12)
memory usage: 22.1+ KB

In [58]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

In [59]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]